.text_container {
  padding: 12px
}

.defaultBgColor {
  background-color: rgb(193, 179, 156);
}

.blackBgColor {
  background-color: rgb(26, 26, 26);
}

.blackBgColor > * > p {
  color: rgb(135,135,135)
}

.text_container > * > p {
  font-size: 18px;
}

.default_fontSize > * >p {
  font-size: 18px;
}

.default_fontSizeP1 > * >p {
  font-size: 20px;
}

.default_fontSizeP2 > * >p {
  font-size: 22px;
}

.default_fontSizeP3 > * >p {
  font-size: 24px;
}

.default_fontSizeM1 > * >p {
  font-size: 16px;
}

.default_fontSizeM2 > * >p {
  font-size: 14px;
}

.default_fontSizeM3 > * >p {
  font-size: 12px;
}

