.text_container {
  padding: 12px
}

.defaultBgColor {
  background-color: rgb(193, 179, 156);
}

.blackBgColor {
  background-color: rgb(26, 26, 26);
}

.blackBgColor > * > p {
  color: rgb(135,135,135)
}

.text_container > * > p {
  font-size: 18px;
}

.default_fontSize > * >p {
  font-size: 18px;
}
